@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Yanone+Kaffeesatz&display=swap');

$color-primary: #ffcc2a;
$color-secondary: #3eceb3;

$font-primary: "Fira Sans";
